MONGO_URI=mongodb://Phunts8k:REPLACE_WITH_ATLAS_PASSWORD@ac-i6wa7fg-shard-00-00.5y2eecu.mongodb.net:27017,ac-i6wa7fg-shard-00-01.5y2eecu.mongodb.net:27017,ac-i6wa7fg-shard-00-02.5y2eecu.mongodb.net:27017/couponhub?ssl=true&replicaSet=atlas-13a5r8-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=mysecretkey123
PORT=5000
